name: GitHub Profile Stats

on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Languages Activity'
        uses: lowlighter/metrics@latest
        with:
          filename: languages.svg
          config_timezone: Europe/Rome
          plugin_languages: yes
          plugin_languages_limit: 8

      - name: 'User Stats'
        uses: lowlighter/metrics@latest
        with:
          filename: user.svg
          base: header, repositories
          plugin_lines: yes

      - name: 'Followers'
        uses: lowlighter/metrics@latest
        with:
          filename: followers.svg
          plugin_people: yes
          plugin_people_types: followers
